.task-board {
    height: 320px;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* TASK BOARD SCROLLBAR ====== */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--border-color);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--font-color-second);
}